*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.container{
  background-color: #00cccc;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.section{
  width: 700px;
  margin: 5px;
  box-shadow: 0 5px 10px #3344;
}

.section details summary{
  padding: 15px;
  background-color:#008b8b;
  color:#fff ;
  border: 1px solid #444;
  position: relative;
  list-style: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}


.section details p{
  font-size: 15px;
  padding: 10px;
  color: #444;
  background-color: #e6ffff;

}

.section details summary ::after{
 content: "+";
 display:  block;
 position: absolute;
 top: 10px; right: 15px;
 font-size: 30px;
 color: #fff;
 transition: .2s linear;

}

.section details[open] summary ::after{
  transform: rotate(135deg);

}